*{margin:0;padding:0;}
body{
	background-image:url(../img/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.aside{
	width:230px;
	height:100vh;
	background:#222D32;
	position:fixed;
	top:0px;
	left:0px;
	z-index:3;
}
.keybtn{
	position:absolute;
	bottom:10px;
	left:230px;
	background:#222D32;
	border-radius:0px 5px 5px 0px;
	color:#fff;
	border-left:0px;
	outline:none;
	width:40px;
	height:35px;
	text-align:center;
	line-height:35px;
}
.as_top{
	height:50px;
	line-height:50px;
	color:#fff;
	font-size:25px;
	background:rgba(0,0,0,0.7);
	text-align:center;
}
.as_center{
	margin-top:20px;
	color:#fff;
	text-align:center;
}
.as_center img{
	width:200px;
	height:200px;
	border-radius:50%;
}
.as_bottom{
	margin-top:20px;
}
.app_menu > a{
	color:#fff !important;
}
.app-menu__item{
	color:#fff !important;
	text-decoration:none !important;
}
.app_menu li{
	width:100%;
	box-sizing:border-box;
	padding:15px 15px;
	line-height: 1;
}
.app_menu li:hover{
	background:#0D1214;
	padding-left:10px;
	border-left:5px solid #009688;
}
.app_menu .glyphicon{
	margin-right:10px; 
	line-height: 1;
}
.app_menu .glyphicon-menu-right{
	float:right
}
.w100{
	width:100%;
	float:right;
}
/*-------------------------------------*/
.topside{
	background:rgba(0,0,0,0.7);
	height:50px;
	width:100%;
	position:fixed;
	top:0px;
	z-index:2;
}
.mr30:hover .menu1{
	display: block;
}
.mr20:hover .menu2{
	display: block;
}
.iconbox{
	width:100px;
	height:60px;
	float:right;
	text-align:center;
	line-height:50px;
	color:#fff;
	font-size:24px;
	position:relative;
	margin-top: -5px;
}
.badge{
    padding: 1px 2px;
    border-radius: 50%;
    background: #d00;
    position: absolute;
    top: 14px;
    left: 23px;
    font-size: 3px;
}
.subMenu{
    width: 110px;
    position: absolute;
    top: 54px;
    right: -20px;
    line-height: 30px;
    font-size: 16px;
    background: rgba(0,0,0,0.7);
    display: none;
    text-align: left;
    padding-left: 10px;
	border-radius: 10%;
}
.subMenu li{
	list-style:none;
	line-height:30px;
	font-size:14px;
}
.subMenu li a{
	color:white;
	text-decoration:none;
}
.subMenu li i{
	margin-right:10px;
	line-height:30px;
}
.mr30{
	margin-right:140px;
}
/*-----------------------------*/
.main{
	width:1160px;
	height:auto;
	padding:30px;
	box-sizing:border-box;
	background:#fff;
	margin:30px auto;
	margin-top:70px;
}
.main .tit{
	margin:20px 0;
	height:30px;
	line-height:30px;
	background-image:url(../images/2.jpg);
	background-repeat:repeat-x;
	background-position:left center;
	font-size:18px;
}
.tit span{
	background:#fff;
	padding-right:10px;
}
.c1{
}
.c1 .hang{
	width:330px;
	line-height:30px;
	display:inline-block;
	padding: 10px;
}
.hang .name{
	width:70px;
	color:#999;
	line-height:30px;
	display:inline-block;
	text-align:right;
	margin-right:15px;
}
.clear{
	clear:both;
}
.smallbox{
	width:530px;
	height:150px;
	text-align:center;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	border-radius:5px;
	box-shadow:1px 1px 5px #ddd;
	color:#666;
}
.smallbox img{
	float:left;
	height:90px;
	width:90px;
	margin-top:30px;
	border-radius:5px;
	margin-right:30px;
	margin-left:30px;
}
.s1{
	color:#000;
	margin-bottom:20px;
}
.s2{
	padding-right:20px;
}
.smallbox .txt{
	margin-top:30px;
}
.smallbox span{
	display:block;
	text-align:left;
}
.c2 .hang{
	width:385px;
	margin:0 auto;
	height:50px;
}
.btn1 {
	width:100px;
	background:#aaa;
	border:1px solid #999;
	color:#fff;
	margin:0 auto;
	display:block;
}
.c2 p{
	width:385px;
	margin:10px auto;
}
.hang .input-group{
	width:300px;
	float:right;
}
.hang .input-group input{
	width:200px;
	border-radius:5px 0px 0px 5px;
}
.hang .input-group button{
	width:100px;
	border-radius:0px 5px 5px 0px;
}
.green{
	background:#009688;
}
.hang input{
	display:inline-block;
	width:300px;
	/*
	border:0px;
	border-radius:0px;
	border-bottom:1px solid #ddd;
	box-shadow:none;
	padding-left:0px;*/
}


/*-------------添加----------*/
.box-content{
	background: white;
    color: #555;
    font-family: 'robotolight';
    padding: 0px;
    margin-top: 10px;
}
.profile {
    overflow: hidden;
}
.text-center {
    text-align: center;
}
.text-center > tr>th{
	text-align:center ;
}
.text-center>tr>td{
	color:rgb(136, 125, 125);
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table>thead>tr>th{
    padding: 8px;
    line-height: 1.42857143;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
#collapseExample{
	float:left;
	padding-left: 50px;
	margin-bottom: 20px;
}
#collapseExample1{
	float:left;
	padding-left: 50px;
	margin-bottom: 20px;
}
.ic2 a{
	color:white;
}