<!DOCTYPE html>
<html lang="en">
<head>
	<style type="text/css">
		body{
			background-image:url(../static/img/bg.jpg);
			background-size: cover;
		}
	</style>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>L & F Login Page &mdash; Powered by Bootstrap</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/my-login.css">
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="../static/img/logo.jpg" alt="Tongji Logo">
					</div>
                    {% block content %}
                    {% endblock %}
                    <div class="footer">
						Copyright &copy; 2020 &mdash; Tongji University
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>