{% extends 'baseForSign.html' %}
{% block content %}
<div class="card fat shadow-lg p-3 mb-5 bg-white rounded">
	<div class="card-body">
		<h4 class="card-title">Forgot Password</h4>
		<form method="POST" class="my-login-validation" novalidate="">
			{{ form.csrf_token }}
			<div class="form-group">
				{{ form.email.label }}
				{% if form.email.errors %}
					{{ form.email(class='form-control is-invalid') }}
					{% for error in form.email.errors %}
						<div class="invalid-feedback">
							{{ error }}
						</div>
					{% endfor %}
				{% elif noStudent %}
					{{ form.email(class='form-control is-invalid') }}
						<div class="invalid-feedback">
							E-Mail Address not found
						</div>
				{% else %}
					{{ form.email(class='form-control') }}
				{% endif %}
				<div class="form-text text-muted">
					Remember your password? <a href="{{ url_for('login') }}">Login</a>
				</div>
			</div>
			<div class="form-group m-0">
				<button type="submit" class="btn btn-primary btn-block">
					Reset Password
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}